<header class="site-header">

  <div class="wrapper" style="width: 1469px; position: absolute; top: 0; left: 0">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.minima.nav_pages | default: default_paths -%}
    {%- assign page_titles = site.pages | map: 'title' | compact %}
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
<div class="hordiv" style="
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 55px;"
  >
  <div><img src="{{ '/imgs/Logo.jpg' | relative_url}}" style="width: 50px; height: 50px"> </div>
  <div style="
    font-size: 1.625rem;
    font-weight: 300;
    place-items: center;
    margin-bottom:0;
    letter-spacing: -1px;
    height: 55px;
    line-height: 50px;
    width: 50%;"
    >
    AmiriRod
  </div>
</div>
    <div style="float: left">
    {%- unless page_titles == empty %}
      <nav class="site-nav">
        <label for="nav-trigger">
          <span class="menu-icon"></span>
        </label>

        {% include nav-items.html paths = page_paths %}
      </nav>
    {%- endunless %}
      </div>
  </div>
</header>
