---
layout: default
---

<div class="main-page-content">
  {{ content }}
</div>


<div id="customWindow" class="window-overlay">
  <div class="window-content" style="z-index: 5000">
    <span class="close-btn" onclick="closeWindow()">&times;</span>
    <h2>{{ page.window_title }}</h2>
    <div>
      {%- assign about_page = site.pages | where: "path", "about.md" | first -%}
      {%- if about_page -%}
        {{ about_page.content | markdownify }}
      {%- endif -%}
    </div>
  </div>
</div>
<script>
  function openWindow() {
    document.getElementById("customWindow").style.display = "block";
  }
  function closeWindow() {
    document.getElementById("customWindow").style.display = "none";
  }
</script>
<!-- The Main Page Content Displays Normally -->
